# Software Engineering for Data Scientists

## *Sophisticated Data Manipulation

## 1. Python's Data Science Ecosystem

With this simple Python computation experience under our belt, we can now move to doing some more interesting analysis.

### Python's Data Science Ecosystem

In addition to Python's built-in modules like the ``math`` module we explored above, there are also many often-used third-party modules that are core tools for doing data science with Python.
Some of the most important ones are:

#### [``numpy``](http://numpy.org/): Numerical Python

Numpy is short for "Numerical Python", and contains tools for efficient manipulation of arrays of data.
If you have used other computational tools like IDL or MatLab, Numpy should feel very familiar.

#### [``scipy``](http://scipy.org/): Scientific Python

Scipy is short for "Scientific Python", and contains a wide range of functionality for accomplishing common scientific tasks, such as optimization/minimization, numerical integration, interpolation, and much more.
We will not look closely at Scipy today, but we will use its functionality later in the course.

#### [``pandas``](http://pandas.pydata.org/): Labeled Data Manipulation in Python

Pandas is short for "Panel Data", and contains tools for doing more advanced manipulation of labeled data in Python, in particular with a columnar data structure called a *Data Frame*.
If you've used the [R](http://rstats.org) statistical language (and in particular the so-called "Hadley Stack"), much of the functionality in Pandas should feel very familiar.

#### [``matplotlib``](http://matplotlib.org): Visualization in Python

Matplotlib started out as a Matlab plotting clone in Python, and has grown from there in the 15 years since its creation. It is the most popular data visualization tool currently in the Python data world (though other recent packages are starting to encroach on its monopoly).

# 2. Installation

### Installing Pandas & friends

Because the above packages are not included in Python itself, you need to install them separately. While it is possible to install these from source (compiling the C and/or Fortran code that does the heavy lifting under the hood) it is much easier to use a package manager like ``conda``. All it takes is to run

```
$ conda install numpy scipy pandas matplotlib
```

and (so long as your conda setup is working) the packages will be downloaded and installed on your system.

# 3. Arrays and slicing in Numpy

In [4]:
import numpy as np

### Lists in native Python

Let's create a **list**, a native Python object that we've used earlier today.

In [5]:
my_list = [2, 5, 7, 8]
my_list

[2, 5, 7, 8]

In [6]:
type(my_list)

list

This list is one-dimensional, let's make it multidimensional!

In [7]:
multi_list = [[1, 2, 3], [4, 5, 6]]

How do we access the *6* element in the second row, third column for native Python list?

In [8]:
#

### Converting to numpy Arrays

In [9]:
my_array = np.array(my_list)

In [10]:
type(my_array)

numpy.ndarray

In [11]:
type(my_array)

numpy.ndarray

In [12]:
my_array.dtype

dtype('int64')

In [13]:
my_array.shape

(4,)

In [14]:
my_array = np.array([my_list])

In [15]:
my_array.shape

(1, 4)

In [16]:
my_array

array([[2, 5, 7, 8]])

In [17]:
multi_array = np.array([[1, 2, 3], [4, 5, 6]], np.int32)

How do we access the *6* element in the second row, third column for numpy array?

In [18]:
#

How do we retrieve a slice of the array, `array([[1, 2], [4, 5]])`?

In [19]:
#

How do we retrieve the second column of the array?

In [20]:
#

## 4. Introduction to Pandas DataFrames

What are the elements of a table?

In [21]:
# Pandas DataFrames as table elements
import pandas as pd

What operations do we perform on tables?

In [22]:
df = pd.DataFrame(
    {'A': [1,2,3], 
     'B': [2, 4, 6], 
     'ccc': [1.0, 33, 4]}
    )

df.index = ['x', 'y', 'z']
df

   A  B   ccc
x  1  2   1.0
y  2  4  33.0
z  3  6   4.0

In [23]:
df+df

   A   B   ccc
x  2   4   2.0
y  4   8  66.0
z  6  12   8.0

In [24]:
df2 = pd.DataFrame({'A': [1,3, 2], 'B': [2, 6, 4]})
df2.index = ['x', 'y', 'z']
df2

   A  B
x  1  2
y  3  6
z  2  4

In [25]:
df+df2

   A   B  ccc
x  2   4  NaN
y  5  10  NaN
z  5  10  NaN

In [26]:
df.columns

Index(['A', 'B', 'ccc'], dtype='object')

In [27]:
sub_df = df[['A', 'ccc']]
sub_df

   A   ccc
x  1   1.0
y  2  33.0
z  3   4.0

In [28]:
df['A'] + 2*df['B']

x     5
y    10
z    15
dtype: int64

# Operations on a Pandas DataFrame

## 5. Manipulating Data with DataFrames

### Downloading the data

Shell commands can be run from the notebook by preceding them with an exclamation point:

In [29]:
!ls

CHACK2_Data_Structures_and_Flow_Control.ipynb
data_manipulation.ipynb
jupyter_and_python_breakout.ipynb
pronto.csv
python_vars_and_flow_control.ipynb

uncomment this to download the data:

In [30]:
!curl -o pronto.csv "https://data.seattle.gov/api/views/tw7j-dfaw/rows.csv?accessType=DOWNLOAD"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 42.7M    0 42.7M    0     0  4368k      0 --:--:--  0:00:10 --:--:-- 4639k

### Loading Data into a DataFrame

Because we'll use it so much, we often import under a shortened name using the ``import ... as ...`` pattern:

In [31]:
import pandas as pd
df = pd.read_csv('pronto.csv')

In [32]:
# test...

df.head() # defaults to the first five rows... df.tail() would show the last five rows...

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31:00 AM,10/13/2014 10:48:00 AM,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33:00 AM,10/13/2014 10:48:00 AM,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34:00 AM,10/13/2014 10:48:00 AM,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [33]:
type(df)

pandas.core.frame.DataFrame

In [34]:
# len(df)

df.shape # shows both rows and columns...

(275091, 12)

In [35]:
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31:00 AM,10/13/2014 10:48:00 AM,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33:00 AM,10/13/2014 10:48:00 AM,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34:00 AM,10/13/2014 10:48:00 AM,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

Now we can use the ``read_csv`` command to read the comma-separated-value data:

*Note: strings in Python can be defined either with double quotes or single quotes*

### Viewing Pandas Dataframes

The ``head()`` and ``tail()`` methods show us the first and last rows of the data

In [36]:
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31:00 AM,10/13/2014 10:48:00 AM,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33:00 AM,10/13/2014 10:48:00 AM,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34:00 AM,10/13/2014 10:48:00 AM,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [37]:
df.columns.tolist()

['trip_id',
 'starttime',
 'stoptime',
 'bikeid',
 'tripduration',
 'from_station_name',
 'to_station_name',
 'from_station_id',
 'to_station_id',
 'usertype',
 'gender',
 'birthyear']

In [38]:
df.index

RangeIndex(start=0, stop=275091, step=1)

In [40]:
smaller_df = df.loc[[1,4,6,7,9,34],:]
smaller_df

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
6,437,10/13/2014 11:35:00 AM,10/13/2014 11:45:00 AM,SEA00202,596.715,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1978.0
7,438,10/13/2014 11:35:00 AM,10/13/2014 11:45:00 AM,SEA00311,592.131,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1983.0
9,440,10/13/2014 11:35:00 AM,10/13/2014 11:45:00 AM,SEA00434,587.634,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1958.0
34,467,10/13/2014 11:45:00 AM,10/13/2014 12:00:00 PM,SEA00155,860.538,Occidental Park / Occidental Ave S & S Washing...,2nd Ave & Spring St,PS-04,CBD-06,Member,Female,1989.0

In [41]:
smaller_df.index

Int64Index([1, 4, 6, 7, 9, 34], dtype='int64')

The ``shape`` attribute shows us the number of elements:

In [42]:
df.shape

(275091, 12)

The ``columns`` attribute gives us the column names

The ``index`` attribute gives us the index names

The ``dtypes`` attribute gives the data types of each column:

In [43]:
df.dtypes

trip_id                int64
starttime             object
stoptime              object
bikeid                object
tripduration         float64
from_station_name     object
to_station_name       object
from_station_id       object
to_station_id         object
usertype              object
gender                object
birthyear            float64
dtype: object

### Sophisticated Data Manipulation

Here we'll cover some key features of manipulating data with pandas

Access columns by name using square-bracket indexing:

In [44]:
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31:00 AM,10/13/2014 10:48:00 AM,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33:00 AM,10/13/2014 10:48:00 AM,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34:00 AM,10/13/2014 10:48:00 AM,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [45]:
df_small = df['stoptime']

In [46]:
df_small

0         10/13/2014 10:48:00 AM
1         10/13/2014 10:48:00 AM
2         10/13/2014 10:48:00 AM
3         10/13/2014 10:48:00 AM
4         10/13/2014 10:49:00 AM
                   ...
275086    04/01/2017 02:11:00 AM
275087    04/01/2017 02:11:00 AM
275088    04/01/2017 12:04:00 AM
275089    04/01/2017 12:04:00 AM
275090    04/01/2017 02:33:00 AM
Name: stoptime, Length: 275091, dtype: object

In [47]:
type(df_small)

pandas.core.series.Series

In [48]:
df_small.head()

0    10/13/2014 10:48:00 AM
1    10/13/2014 10:48:00 AM
2    10/13/2014 10:48:00 AM
3    10/13/2014 10:48:00 AM
4    10/13/2014 10:49:00 AM
Name: stoptime, dtype: object

In [49]:
type(df_small)

pandas.core.series.Series

In [50]:
df_small.tolist()

['10/13/2014 10:48:00 AM',
 '10/13/2014 10:48:00 AM',
 '10/13/2014 10:48:00 AM',
 '10/13/2014 10:48:00 AM',
 '10/13/2014 10:49:00 AM',
 '10/13/2014 10:47:00 AM',
 '10/13/2014 11:45:00 AM',
 '10/13/2014 11:45:00 AM',
 '10/13/2014 11:45:00 AM',
 '10/13/2014 11:45:00 AM',
 '10/13/2014 11:45:00 AM',
 '10/13/2014 11:47:00 AM',
 '10/13/2014 11:47:00 AM',
 '10/13/2014 11:47:00 AM',
 '10/13/2014 11:47:00 AM',
 '10/13/2014 11:47:00 AM',
 '10/13/2014 11:47:00 AM',
 '10/13/2014 11:47:00 AM',
 '10/13/2014 11:49:00 AM',
 '10/13/2014 11:51:00 AM',
 '10/13/2014 11:51:00 AM',
 '10/13/2014 11:51:00 AM',
 '10/13/2014 11:49:00 AM',
 '10/13/2014 11:51:00 AM',
 '10/13/2014 11:51:00 AM',
 '10/13/2014 11:52:00 AM',
 '10/13/2014 11:51:00 AM',
 '10/13/2014 11:51:00 AM',
 '10/13/2014 11:51:00 AM',
 '10/13/2014 11:55:00 AM',
 '10/13/2014 12:00:00 PM',
 '10/13/2014 12:00:00 PM',
 '10/13/2014 12:00:00 PM',
 '10/13/2014 12:02:00 PM',
 '10/13/2014 12:00:00 PM',
 '10/13/2014 12:00:00 PM',
 '10/13/2014 11:51:00 AM',
 '10/13/2014 11:59:00 AM',
 '10/13/2014 12:00:00 PM',
 '10/13/2014 11:59:00 AM',
 '10/13/2014 11:59:00 AM',
 '10/13/2014 11:59:00 AM',
 '10/13/2014 12:06:00 PM',
 '10/13/2014 12:01:00 PM',
 '10/13/2014 12:04:00 PM',
 '10/13/2014 12:01:00 PM',
 '10/13/2014 12:11:00 PM',
 '10/13/2014 12:11:00 PM',
 '10/13/2014 12:04:00 PM',
 '10/13/2014 12:01:00 PM',
 '10/13/2014 12:04:00 PM',
 '10/13/2014 12:05:00 PM',
 '10/13/2014 12:04:00 PM',
 '10/13/2014 11:55:00 AM',
 '10/13/2014 12:02:00 PM',
 '10/13/2014 12:39:00 PM',
 '10/13/2014 12:39:00 PM',
 '10/13/2014 12:05:00 PM',
 '10/13/2014 12:39:00 PM',
 '10/13/2014 12:19:00 PM',
 '10/13/2014 12:40:00 PM',
 '10/13/2014 12:20:00 PM',
 '10/13/2014 02:28:00 PM',
 '10/13/2014 12:10:00 PM',
 '10/13/2014 12:13:00 PM',
 '10/13/2014 12:13:00 PM',
 '10/13/2014 12:16:00 PM',
 '10/13/2014 12:45:00 PM',
 '10/13/2014 07:07:00 PM',
 '10/13/2014 12:16:00 PM',
 '10/13/2014 12:25:00 PM',
 '10/13/2014 12:20:00 PM',
 '10/13/2014 12:31:00 PM',
 '10/13/2014 12:31:00 PM',
 '10/13/2014 12:31:00 PM',
 '10/13/2014 12:22:00 PM',
 '10/13/2014 12:21:00 PM',
 '10/13/2014 12:34:00 PM',
 '10/13/2014 12:31:00 PM',
 '10/13/2014 12:26:00 PM',
 '10/13/2014 12:32:00 PM',
 '10/13/2014 12:57:00 PM',
 '10/13/2014 12:57:00 PM',
 '10/13/2014 01:21:00 PM',
 '10/13/2014 12:36:00 PM',
 '10/13/2014 12:40:00 PM',
 '10/13/2014 12:40:00 PM',
 '10/13/2014 12:47:00 PM',
 '10/13/2014 12:46:00 PM',
 '10/13/2014 12:45:00 PM',
 '10/13/2014 12:48:00 PM',
 '10/13/2014 12:47:00 PM',
 '10/13/2014 12:51:00 PM',
 '10/13/2014 12:58:00 PM',
 '10/13/2014 12:52:00 PM',
 '10/13/2014 12:58:00 PM',
 '10/13/2014 12:59:00 PM',
 '10/13/2014 01:15:00 PM',
 '10/13/2014 01:04:00 PM',
 '10/13/2014 01:18:00 PM',
 '10/13/2014 01:16:00 PM',
 '10/13/2014 01:13:00 PM',
 '10/13/2014 01:10:00 PM',
 '10/13/2014 01:12:00 PM',
 '10/13/2014 01:16:00 PM',
 '10/13/2014 01:14:00 PM',
 '10/13/2014 01:30:00 PM',
 '10/13/2014 01:22:00 PM',
 '10/13/2014 01:22:00 PM',
 '10/13/2014 01:15:00 PM',
 '10/13/2014 01:09:00 PM',
 '10/13/2014 01:18:00 PM',
 '10/13/2014 01:27:00 PM',
 '10/13/2014 01:24:00 PM',
 '10/13/2014 01:30:00 PM',
 '10/13/2014 01:33:00 PM',
 '10/13/2014 01:33:00 PM',
 '10/13/2014 01:33:00 PM',
 '10/13/2014 01:42:00 PM',
 '10/13/2014 01:42:00 PM',
 '10/13/2014 01:42:00 PM',
 '10/13/2014 12:47:00 PM',
 '10/13/2014 12:49:00 PM',
 '10/13/2014 01:44:00 PM',
 '10/13/2014 02:29:00 PM',
 '10/13/2014 01:52:00 PM',
 '10/13/2014 02:22:00 PM',
 '10/13/2014 01:45:00 PM',
 '10/13/2014 01:55:00 PM',
 '10/13/2014 01:56:00 PM',
 '10/13/2014 02:03:00 PM',
 '10/13/2014 01:52:00 PM',
 '10/13/2014 02:09:00 PM',
 '10/13/2014 02:09:00 PM',
 '10/13/2014 01:49:00 PM',
 '10/13/2014 02:09:00 PM',
 '10/13/2014 01:56:00 PM',
 '10/13/2014 01:59:00 PM',
 '10/13/2014 02:08:00 PM',
 '10/13/2014 02:05:00 PM',
 '10/13/2014 02:12:00 PM',
 '10/13/2014 02:07:00 PM',
 '10/13/2014 02:35:00 PM',
 '10/13/2014 02:35:00 PM',
 '10/13/2014 02:07:00 PM',
 '10/13/2014 02:11:00 PM',
 '10/13/2014 02:12:00 PM',
 '10/13/2014 02:35:00 PM',
 '10/13/2014 02:18:00 PM',
 '10/13/2014 02:18:00 PM',
 '10/13/2014 02:18:00 PM',
 '10/13/2014 02:18:00 PM',
 '10/13/2014 02:39:00 PM',
 '10/13/2014 02:39:00 PM',
 '10/13/2014 02:16:00 PM',
 '10/13/2014 02:39:00 PM',
 '10/13/2014 02:39:00 PM',
 '10/13/2014 03:08:00 PM',
 '10/13/2014 02:38:00 PM',
 '10/13/2014 02:38:00 PM',
 '10/13/2014 02:20:00 PM',
 '10/13/2014 02:24:00 PM',
 '10/13/2014 02:38:00 PM',
 '10/13/2014 02:26:00 PM',
 '10/13/2014 02:34:00 PM',
 '10/13/2014 02:34:00 PM',
 '10/13/2014 02:31:00 PM',
 '10/13/2014 02:26:00 PM',
 '10/13/2014 02:29:00 PM',
 '10/13/2014 02:48:00 PM',
 '10/13/2014 02:48:00 PM',
 '10/13/2014 02:51:00 PM',
 '10/13/2014 02:37:00 PM',
 '10/13/2014 02:33:00 PM',
 '10/13/2014 02:34:00 PM',
 '10/13/2014 02:31:00 PM',
 '10/13/2014 02:30:00 PM',
 '10/13/2014 02:49:00 PM',
 '10/13/2014 02:40:00 PM',
 '10/13/2014 02:56:00 PM',
 '10/13/2014 02:56:00 PM',
 '10/13/2014 02:39:00 PM',
 '10/13/2014 02:49:00 PM',
 '10/13/2014 02:56:00 PM',
 '10/13/2014 02:55:00 PM',
 '10/13/2014 02:56:00 PM',
 '10/13/2014 02:56:00 PM',
 '10/13/2014 03:01:00 PM',
 '10/13/2014 02:54:00 PM',
 '10/13/2014 02:56:00 PM',
 '10/13/2014 02:56:00 PM',
 '10/13/2014 03:09:00 PM',
 '10/13/2014 03:10:00 PM',
 '10/13/2014 05:59:00 PM',
 '10/13/2014 03:02:00 PM',
 '10/13/2014 03:13:00 PM',
 '10/13/2014 03:10:00 PM',
 '10/13/2014 03:16:00 PM',
 '10/13/2014 03:11:00 PM',
 '10/13/2014 03:11:00 PM',
 '10/13/2014 03:23:00 PM',
 '10/13/2014 03:23:00 PM',
 '10/13/2014 03:25:00 PM',
 '10/13/2014 03:53:00 PM',
 '10/13/2014 03:47:00 PM',
 '10/13/2014 03:20:00 PM',
 '10/13/2014 03:53:00 PM',
 '10/13/2014 03:57:00 PM',
 '10/13/2014 05:16:00 PM',
 '10/13/2014 03:27:00 PM',
 '10/13/2014 03:36:00 PM',
 '10/13/2014 03:50:00 PM',
 '10/13/2014 03:48:00 PM',
 '10/13/2014 03:37:00 PM',
 '10/13/2014 03:47:00 PM',
 '10/13/2014 03:48:00 PM',
 '10/13/2014 03:48:00 PM',
 '10/13/2014 03:57:00 PM',
 '10/13/2014 03:59:00 PM',
 '10/13/2014 04:05:00 PM',
 '10/13/2014 04:08:00 PM',
 '10/13/2014 04:07:00 PM',
 '10/13/2014 03:57:00 PM',
 '10/13/2014 04:00:00 PM',
 '10/13/2014 04:16:00 PM',
 '10/13/2014 05:08:00 PM',
 '10/13/2014 04:22:00 PM',
 '10/13/2014 04:10:00 PM',
 '10/13/2014 04:10:00 PM',
 '10/13/2014 04:05:00 PM',
 '10/13/2014 04:05:00 PM',
 '10/13/2014 04:13:00 PM',
 '10/13/2014 04:20:00 PM',
 '10/13/2014 04:10:00 PM',
 '10/13/2014 04:15:00 PM',
 '10/13/2014 04:15:00 PM',
 '10/13/2014 04:30:00 PM',
 '10/13/2014 04:19:00 PM',
 '10/13/2014 04:28:00 PM',
 '10/13/2014 04:24:00 PM',
 '10/13/2014 04:47:00 PM',
 '10/13/2014 04:46:00 PM',
 '10/13/2014 04:22:00 PM',
 '10/13/2014 04:24:00 PM',
 '10/13/2014 04:22:00 PM',
 '10/13/2014 04:42:00 PM',
 '10/13/2014 04:37:00 PM',
 '10/13/2014 04:37:00 PM',
 '10/13/2014 04:47:00 PM',
 '10/13/2014 04:32:00 PM',
 '10/13/2014 04:47:00 PM',
 '10/13/2014 04:48:00 PM',
 '10/13/2014 04:40:00 PM',
 '10/13/2014 04:33:00 PM',
 '10/13/2014 04:33:00 PM',
 '10/13/2014 04:39:00 PM',
 '10/13/2014 04:42:00 PM',
 '10/13/2014 04:51:00 PM',
 '10/13/2014 04:51:00 PM',
 '10/13/2014 04:45:00 PM',
 '10/13/2014 04:48:00 PM',
 '10/13/2014 04:50:00 PM',
 '10/13/2014 04:58:00 PM',
 '10/13/2014 05:11:00 PM',
 '10/13/2014 05:14:00 PM',
 '10/13/2014 04:54:00 PM',
 '10/13/2014 05:14:00 PM',
 '10/13/2014 05:14:00 PM',
 '10/13/2014 05:03:00 PM',
 '10/13/2014 05:07:00 PM',
 '10/13/2014 05:14:00 PM',
 '10/13/2014 05:19:00 PM',
 '10/13/2014 05:01:00 PM',
 '10/13/2014 05:12:00 PM',
 '10/13/2014 05:16:00 PM',
 '10/13/2014 05:10:00 PM',
 '10/13/2014 05:19:00 PM',
 '10/13/2014 05:20:00 PM',
 '10/13/2014 05:19:00 PM',
 '10/13/2014 05:19:00 PM',
 '10/13/2014 05:16:00 PM',
 '10/13/2014 05:07:00 PM',
 '10/13/2014 05:21:00 PM',
 '10/13/2014 05:20:00 PM',
 '10/13/2014 05:18:00 PM',
 '10/13/2014 05:20:00 PM',
 '10/13/2014 05:15:00 PM',
 '10/13/2014 05:15:00 PM',
 '10/13/2014 05:27:00 PM',
 '10/13/2014 05:20:00 PM',
 '10/13/2014 05:25:00 PM',
 '10/13/2014 05:23:00 PM',
 '10/13/2014 05:32:00 PM',
 '10/13/2014 05:31:00 PM',
 '10/13/2014 05:30:00 PM',
 '10/13/2014 05:39:00 PM',
 '10/13/2014 05:43:00 PM',
 '10/13/2014 05:52:00 PM',
 '10/13/2014 05:52:00 PM',
 '10/13/2014 05:32:00 PM',
 '10/13/2014 05:52:00 PM',
 '10/13/2014 06:09:00 PM',
 '10/13/2014 05:52:00 PM',
 '10/13/2014 05:53:00 PM',
 '10/13/2014 05:47:00 PM',
 '10/13/2014 05:47:00 PM',
 '10/13/2014 05:47:00 PM',
 '10/13/2014 05:48:00 PM',
 '10/13/2014 05:55:00 PM',
 '10/13/2014 05:58:00 PM',
 '10/13/2014 05:51:00 PM',
 '10/13/2014 05:44:00 PM',
 '10/13/2014 05:55:00 PM',
 '10/13/2014 05:49:00 PM',
 '10/13/2014 06:06:00 PM',
 '10/13/2014 05:52:00 PM',
 '10/13/2014 05:58:00 PM',
 '10/13/2014 05:49:00 PM',
 '10/13/2014 06:00:00 PM',
 '10/13/2014 06:02:00 PM',
 '10/13/2014 06:11:00 PM',
 '10/13/2014 06:01:00 PM',
 '10/13/2014 06:03:00 PM',
 '10/13/2014 06:18:00 PM',
 '10/13/2014 06:03:00 PM',
 '10/13/2014 07:28:00 PM',
 '10/13/2014 06:27:00 PM',
 '10/13/2014 06:27:00 PM',
 '10/13/2014 06:07:00 PM',
 '10/13/2014 06:28:00 PM',
 '10/13/2014 06:19:00 PM',
 '10/13/2014 06:27:00 PM',
 '10/13/2014 06:08:00 PM',
 '10/13/2014 06:15:00 PM',
 '10/13/2014 06:11:00 PM',
 '10/13/2014 06:16:00 PM',
 '10/13/2014 06:13:00 PM',
 '10/13/2014 06:13:00 PM',
 '10/13/2014 06:34:00 PM',
 '10/13/2014 06:19:00 PM',
 '10/13/2014 06:30:00 PM',
 '10/13/2014 06:35:00 PM',
 '10/13/2014 06:28:00 PM',
 '10/13/2014 06:31:00 PM',
 '10/13/2014 06:30:00 PM',
 '10/13/2014 06:43:00 PM',
 '10/13/2014 06:32:00 PM',
 '10/13/2014 06:44:00 PM',
 '10/13/2014 06:44:00 PM',
 '10/13/2014 06:33:00 PM',
 '10/13/2014 06:46:00 PM',
 '10/13/2014 06:46:00 PM',
 '10/13/2014 06:38:00 PM',
 '10/13/2014 06:46:00 PM',
 '10/13/2014 06:46:00 PM',
 '10/13/2014 06:38:00 PM',
 '10/13/2014 06:43:00 PM',
 '10/13/2014 06:43:00 PM',
 '10/13/2014 06:54:00 PM',
 '10/13/2014 06:49:00 PM',
 '10/13/2014 06:54:00 PM',
 '10/13/2014 07:10:00 PM',
 '10/13/2014 07:47:00 PM',
 '10/13/2014 07:48:00 PM',
 '10/13/2014 06:53:00 PM',
 '10/13/2014 07:05:00 PM',
 '10/13/2014 06:54:00 PM',
 '10/13/2014 07:05:00 PM',
 '10/13/2014 07:19:00 PM',
 '10/13/2014 07:47:00 PM',
 '10/13/2014 07:46:00 PM',
 '10/13/2014 07:39:00 PM',
 '10/13/2014 07:39:00 PM',
 '10/13/2014 07:47:00 PM',
 '10/13/2014 07:46:00 PM',
 '10/13/2014 07:56:00 PM',
 '10/13/2014 07:45:00 PM',
 '10/13/2014 08:12:00 PM',
 '10/13/2014 08:15:00 PM',
 '10/13/2014 08:14:00 PM',
 '10/13/2014 08:08:00 PM',
 '10/13/2014 08:22:00 PM',
 '10/13/2014 08:19:00 PM',
 '10/13/2014 08:28:00 PM',
 '10/13/2014 08:33:00 PM',
 '10/13/2014 09:24:00 PM',
 '10/13/2014 08:52:00 PM',
 '10/13/2014 08:38:00 PM',
 '10/13/2014 08:52:00 PM',
 '10/13/2014 08:57:00 PM',
 '10/13/2014 08:49:00 PM',
 '10/13/2014 09:18:00 PM',
 '10/13/2014 09:26:00 PM',
 '10/13/2014 09:11:00 PM',
 '10/13/2014 09:21:00 PM',
 '10/13/2014 09:20:00 PM',
 '10/13/2014 09:39:00 PM',
 '10/13/2014 09:28:00 PM',
 '10/13/2014 09:41:00 PM',
 '10/13/2014 09:54:00 PM',
 '10/13/2014 09:59:00 PM',
 '10/13/2014 09:57:00 PM',
 '10/13/2014 10:05:00 PM',
 '10/13/2014 10:08:00 PM',
 '10/13/2014 10:22:00 PM',
 '10/13/2014 10:32:00 PM',
 '10/13/2014 11:17:00 PM',
 '10/13/2014 11:15:00 PM',
 '10/14/2014 06:52:00 AM',
 '10/14/2014 05:57:00 AM',
 '10/14/2014 06:14:00 AM',
 '10/14/2014 06:36:00 AM',
 '10/14/2014 06:42:00 AM',
 '10/14/2014 06:50:00 AM',
 '10/14/2014 06:50:00 AM',
 '10/14/2014 07:21:00 AM',
 '10/14/2014 07:28:00 AM',
 '10/14/2014 07:29:00 AM',
 '10/14/2014 07:36:00 AM',
 '10/14/2014 07:34:00 AM',
 '10/14/2014 07:34:00 AM',
 '10/14/2014 07:39:00 AM',
 '10/14/2014 07:50:00 AM',
 '10/14/2014 07:50:00 AM',
 '10/14/2014 07:48:00 AM',
 '10/14/2014 07:45:00 AM',
 '10/14/2014 07:48:00 AM',
 '10/14/2014 07:58:00 AM',
 '10/14/2014 08:00:00 AM',
 '10/14/2014 07:50:00 AM',
 '10/14/2014 07:55:00 AM',
 '10/14/2014 08:05:00 AM',
 '10/14/2014 08:01:00 AM',
 '10/14/2014 08:18:00 AM',
 '10/14/2014 08:03:00 AM',
 '10/14/2014 08:14:00 AM',
 '10/14/2014 08:06:00 AM',
 '10/14/2014 08:06:00 AM',
 '10/14/2014 08:09:00 AM',
 '10/14/2014 08:12:00 AM',
 '10/14/2014 08:16:00 AM',
 '10/14/2014 08:11:00 AM',
 '10/14/2014 08:09:00 AM',
 '10/14/2014 08:14:00 AM',
 '10/14/2014 08:19:00 AM',
 '10/14/2014 08:37:00 AM',
 '10/14/2014 08:19:00 AM',
 '10/14/2014 10:11:00 AM',
 '10/14/2014 08:17:00 AM',
 '10/14/2014 08:29:00 AM',
 '10/14/2014 08:26:00 AM',
 '10/14/2014 08:30:00 AM',
 '10/14/2014 08:41:00 AM',
 '10/14/2014 08:31:00 AM',
 '10/14/2014 08:33:00 AM',
 '10/14/2014 08:33:00 AM',
 '10/14/2014 08:38:00 AM',
 '10/14/2014 08:44:00 AM',
 '10/14/2014 08:39:00 AM',
 '10/14/2014 08:54:00 AM',
 '10/14/2014 08:46:00 AM',
 '10/14/2014 08:45:00 AM',
 '10/14/2014 08:48:00 AM',
 '10/14/2014 09:00:00 AM',
 '10/14/2014 09:14:00 AM',
 '10/14/2014 08:50:00 AM',
 '10/14/2014 08:59:00 AM',
 '10/14/2014 08:54:00 AM',
 '10/14/2014 09:17:00 AM',
 '10/14/2014 09:26:00 AM',
 '10/14/2014 09:04:00 AM',
 '10/14/2014 09:02:00 AM',
 '10/14/2014 09:18:00 AM',
 '10/14/2014 09:10:00 AM',
 '10/14/2014 09:17:00 AM',
 '10/14/2014 01:20:00 PM',
 '10/14/2014 09:26:00 AM',
 '10/14/2014 09:20:00 AM',
 '10/14/2014 09:30:00 AM',
 '10/14/2014 09:37:00 AM',
 '10/14/2014 09:32:00 AM',
 '10/14/2014 09:38:00 AM',
 '10/14/2014 09:41:00 AM',
 '10/14/2014 09:40:00 AM',
 '10/14/2014 09:45:00 AM',
 '10/14/2014 09:40:00 AM',
 '10/14/2014 10:15:00 AM',
 '10/14/2014 10:15:00 AM',
 '10/14/2014 09:44:00 AM',
 '10/14/2014 09:54:00 AM',
 '10/14/2014 11:59:00 AM',
 '10/14/2014 09:54:00 AM',
 '10/14/2014 10:00:00 AM',
 '10/14/2014 10:10:00 AM',
 '10/14/2014 10:05:00 AM',
 '10/14/2014 10:01:00 AM',
 '10/14/2014 10:08:00 AM',
 '10/14/2014 10:09:00 AM',
 '10/14/2014 10:27:00 AM',
 '10/14/2014 10:08:00 AM',
 '10/14/2014 10:17:00 AM',
 '10/14/2014 10:10:00 AM',
 '10/14/2014 10:30:00 AM',
 '10/14/2014 10:30:00 AM',
 '10/14/2014 10:23:00 AM',
 '10/14/2014 10:24:00 AM',
 '10/14/2014 10:34:00 AM',
 '10/14/2014 10:53:00 AM',
 '10/14/2014 10:53:00 AM',
 '10/14/2014 10:51:00 AM',
 '10/14/2014 10:48:00 AM',
 '10/14/2014 10:53:00 AM',
 '10/14/2014 05:19:00 PM',
 '10/14/2014 11:01:00 AM',
 '10/14/2014 11:01:00 AM',
 '10/14/2014 11:07:00 AM',
 '10/14/2014 11:27:00 AM',
 '10/14/2014 11:25:00 AM',
 '10/14/2014 11:13:00 AM',
 '10/14/2014 11:13:00 AM',
 '10/14/2014 11:17:00 AM',
 '10/14/2014 11:18:00 AM',
 '10/14/2014 11:18:00 AM',
 '10/14/2014 11:20:00 AM',
 '10/14/2014 11:27:00 AM',
 '10/14/2014 11:27:00 AM',
 '10/14/2014 11:27:00 AM',
 '10/14/2014 11:32:00 AM',
 '10/14/2014 11:26:00 AM',
 '10/14/2014 11:35:00 AM',
 '10/14/2014 12:16:00 PM',
 '10/14/2014 12:16:00 PM',
 '10/14/2014 11:38:00 AM',
 '10/14/2014 11:43:00 AM',
 '10/14/2014 11:43:00 AM',
 '10/14/2014 11:43:00 AM',
 '10/14/2014 11:54:00 AM',
 '10/14/2014 11:54:00 AM',
 '10/14/2014 11:54:00 AM',
 '10/14/2014 11:54:00 AM',
 '10/14/2014 11:49:00 AM',
 '10/14/2014 11:55:00 AM',
 '10/14/2014 11:54:00 AM',
 '10/14/2014 11:57:00 AM',
 '10/14/2014 11:56:00 AM',
 '10/14/2014 12:02:00 PM',
 '10/14/2014 12:06:00 PM',
 '10/14/2014 11:56:00 AM',
 '10/14/2014 12:11:00 PM',
 '10/14/2014 02:11:00 PM',
 '10/14/2014 02:11:00 PM',
 '10/14/2014 12:11:00 PM',
 '10/14/2014 12:11:00 PM',
 '10/14/2014 11:58:00 AM',
 '10/14/2014 12:11:00 PM',
 '10/14/2014 12:00:00 PM',
 '10/14/2014 12:26:00 PM',
 '10/14/2014 12:13:00 PM',
 '10/14/2014 12:11:00 PM',
 '10/14/2014 12:11:00 PM',
 '10/14/2014 12:11:00 PM',
 '10/14/2014 12:10:00 PM',
 '10/14/2014 12:11:00 PM',
 '10/14/2014 12:17:00 PM',
 '10/14/2014 12:21:00 PM',
 '10/14/2014 12:54:00 PM',
 '10/14/2014 12:45:00 PM',
 '10/14/2014 01:17:00 PM',
 '10/14/2014 12:21:00 PM',
 '10/14/2014 12:26:00 PM',
 '10/14/2014 12:44:00 PM',
 '10/14/2014 12:29:00 PM',
 '10/14/2014 12:30:00 PM',
 '10/14/2014 12:29:00 PM',
 '10/14/2014 12:37:00 PM',
 '10/14/2014 12:54:00 PM',
 '10/14/2014 12:38:00 PM',
 '10/14/2014 12:54:00 PM',
 '10/14/2014 12:35:00 PM',
 '10/14/2014 12:41:00 PM',
 '10/14/2014 12:34:00 PM',
 '10/14/2014 12:46:00 PM',
 '10/14/2014 12:49:00 PM',
 '10/14/2014 01:09:00 PM',
 '10/14/2014 12:40:00 PM',
 '10/14/2014 12:44:00 PM',
 '10/14/2014 01:09:00 PM',
 '10/14/2014 12:52:00 PM',
 '10/14/2014 12:55:00 PM',
 '10/14/2014 12:58:00 PM',
 '10/14/2014 12:58:00 PM',
 '10/14/2014 12:55:00 PM',
 '10/14/2014 12:54:00 PM',
 '10/14/2014 12:58:00 PM',
 '10/14/2014 01:02:00 PM',
 '10/14/2014 01:01:00 PM',
 '10/14/2014 12:59:00 PM',
 '10/14/2014 12:59:00 PM',
 '10/14/2014 01:10:00 PM',
 '10/14/2014 01:11:00 PM',
 '10/14/2014 01:01:00 PM',
 '10/14/2014 01:10:00 PM',
 '10/14/2014 02:05:00 PM',
 '10/14/2014 01:09:00 PM',
 '10/14/2014 01:31:00 PM',
 '10/14/2014 01:22:00 PM',
 '10/14/2014 01:38:00 PM',
 '10/14/2014 01:10:00 PM',
 '10/14/2014 01:20:00 PM',
 '10/14/2014 01:10:00 PM',
 '10/14/2014 01:10:00 PM',
 '10/14/2014 01:16:00 PM',
 '10/14/2014 01:17:00 PM',
 '10/14/2014 01:19:00 PM',
 '10/14/2014 01:17:00 PM',
 '10/14/2014 01:27:00 PM',
 '10/14/2014 01:30:00 PM',
 '10/14/2014 01:29:00 PM',
 '10/14/2014 01:23:00 PM',
 '10/14/2014 01:26:00 PM',
 '10/14/2014 01:30:00 PM',
 '10/14/2014 01:30:00 PM',
 '10/14/2014 01:26:00 PM',
 '10/14/2014 01:26:00 PM',
 '10/14/2014 01:25:00 PM',
 '10/14/2014 01:30:00 PM',
 '10/14/2014 01:25:00 PM',
 '10/14/2014 01:38:00 PM',
 '10/14/2014 01:42:00 PM',
 '10/14/2014 01:33:00 PM',
 '10/14/2014 01:29:00 PM',
 '10/14/2014 01:39:00 PM',
 '10/14/2014 02:15:00 PM',
 '10/14/2014 01:43:00 PM',
 '10/14/2014 01:41:00 PM',
 '10/14/2014 01:40:00 PM',
 '10/14/2014 01:43:00 PM',
 '10/14/2014 01:43:00 PM',
 '10/14/2014 03:52:00 PM',
 '10/14/2014 01:42:00 PM',
 '10/14/2014 01:56:00 PM',
 '10/14/2014 01:53:00 PM',
 '10/14/2014 01:41:00 PM',
 '10/14/2014 01:53:00 PM',
 '10/14/2014 01:55:00 PM',
 '10/14/2014 01:51:00 PM',
 '10/14/2014 02:10:00 PM',
 '10/14/2014 01:43:00 PM',
 '10/14/2014 01:44:00 PM',
 '10/14/2014 01:54:00 PM',
 '10/14/2014 01:54:00 PM',
 '10/14/2014 01:56:00 PM',
 '10/14/2014 02:27:00 PM',
 '10/14/2014 02:09:00 PM',
 '10/14/2014 02:30:00 PM',
 '10/14/2014 02:29:00 PM',
 '10/14/2014 02:10:00 PM',
 '10/14/2014 02:38:00 PM',
 '10/14/2014 02:18:00 PM',
 '10/14/2014 02:38:00 PM',
 '10/14/2014 02:16:00 PM',
 '10/14/2014 02:22:00 PM',
 '10/14/2014 02:26:00 PM',
 '10/14/2014 02:32:00 PM',
 '10/14/2014 03:51:00 PM',
 '10/14/2014 02:22:00 PM',
 '10/14/2014 02:35:00 PM',
 '10/14/2014 02:40:00 PM',
 '10/14/2014 02:31:00 PM',
 '10/14/2014 02:36:00 PM',
 '10/14/2014 02:38:00 PM',
 '10/14/2014 02:52:00 PM',
 '10/14/2014 02:54:00 PM',
 '10/14/2014 02:52:00 PM',
 '10/14/2014 03:01:00 PM',
 '10/14/2014 03:00:00 PM',
 '10/14/2014 03:09:00 PM',
 '10/14/2014 03:09:00 PM',
 '10/14/2014 02:57:00 PM',
 '10/14/2014 02:57:00 PM',
 '10/14/2014 03:03:00 PM',
 '10/14/2014 03:06:00 PM',
 '10/14/2014 03:10:00 PM',
 '10/14/2014 03:17:00 PM',
 '10/14/2014 03:17:00 PM',
 '10/14/2014 03:20:00 PM',
 '10/14/2014 03:21:00 PM',
 '10/14/2014 03:32:00 PM',
 '10/14/2014 03:42:00 PM',
 '10/14/2014 03:42:00 PM',
 '10/14/2014 03:34:00 PM',
 '10/14/2014 03:46:00 PM',
 '10/14/2014 03:45:00 PM',
 '10/14/2014 03:47:00 PM',
 '10/14/2014 03:52:00 PM',
 '10/14/2014 03:46:00 PM',
 '10/14/2014 03:46:00 PM',
 '10/14/2014 03:48:00 PM',
 '10/14/2014 04:23:00 PM',
 '10/14/2014 03:49:00 PM',
 '10/14/2014 03:48:00 PM',
 '10/14/2014 06:41:00 PM',
 '10/14/2014 03:48:00 PM',
 '10/14/2014 04:50:00 PM',
 '10/14/2014 04:00:00 PM',
 '10/14/2014 04:25:00 PM',
 '10/14/2014 06:40:00 PM',
 '10/14/2014 04:24:00 PM',
 '10/14/2014 04:25:00 PM',
 '10/14/2014 04:00:00 PM',
 '10/14/2014 04:25:00 PM',
 '10/14/2014 04:25:00 PM',
 '10/14/2014 03:57:00 PM',
 '10/14/2014 04:09:00 PM',
 '10/14/2014 04:25:00 PM',
 '10/14/2014 04:21:00 PM',
 '10/14/2014 04:21:00 PM',
 '10/14/2014 04:27:00 PM',
 '10/14/2014 04:08:00 PM',
 '10/14/2014 04:14:00 PM',
 '10/14/2014 04:17:00 PM',
 '10/14/2014 04:16:00 PM',
 '10/14/2014 05:54:00 PM',
 '10/14/2014 04:20:00 PM',
 '10/14/2014 04:41:00 PM',
 '10/14/2014 04:41:00 PM',
 '10/14/2014 04:26:00 PM',
 '10/14/2014 04:47:00 PM',
 '10/14/2014 04:39:00 PM',
 '10/14/2014 04:49:00 PM',
 '10/14/2014 04:40:00 PM',
 '10/14/2014 04:43:00 PM',
 '10/14/2014 04:46:00 PM',
 '10/14/2014 04:51:00 PM',
 '10/14/2014 04:52:00 PM',
 '10/14/2014 04:50:00 PM',
 '10/14/2014 04:50:00 PM',
 '10/14/2014 05:07:00 PM',
 '10/14/2014 05:18:00 PM',
 '10/14/2014 05:04:00 PM',

Mathematical operations on columns happen *element-wise*:

In [51]:
trip_duration_hours = df['tripduration']/3600
trip_duration_hours

0         0.273871
1         0.257326
2         0.245509
3         0.240538
4         0.256645
            ...
275086    2.913188
275087    2.913157
275088    0.334904
275089    0.309905
275090    2.685466
Name: tripduration, Length: 275091, dtype: float64

In [52]:
trip_duration_hours.head()

0    0.273871
1    0.257326
2    0.245509
3    0.240538
4    0.256645
Name: tripduration, dtype: float64

In [53]:
df['trip_duration_hours'] = df['tripduration']/3600

In [54]:
def trip_snark(x):
    if x > 10000:
        return "I bet your legs almost fell off!"
    elif x < 100:
        return "Couldn't you have walked?"
    else:
        return "Nice."

In [55]:
df['comment'] = df['tripduration'].apply(lambda x: trip_snark(x))
df

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear,trip_duration_hours,comment
0,431,10/13/2014 10:31:00 AM,10/13/2014 10:48:00 AM,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0,0.273871,Nice.
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0,0.257326,Nice.
2,433,10/13/2014 10:33:00 AM,10/13/2014 10:48:00 AM,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0,0.245509,Nice.
3,434,10/13/2014 10:34:00 AM,10/13/2014 10:48:00 AM,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0,0.240538,Nice.
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0,0.256645,Nice.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275086,295463,03/31/2017 11:16:00 PM,04/01/2017 02:11:00 AM,SEA00347,10487.475,NE 42nd St & University Way NE,E Harrison St & Broadway Ave E,UD-02,CH-02,Short-Term Pass Holder,NaN,NaN,2.913188,I bet your legs almost fell off!
275087,295464,03/31/2017 11:16:00 PM,04/01/2017 02:11:00 AM,SEA00031,10487.366,NE 42nd St & University Way NE,E Harrison St & Broadway Ave E,UD-02,CH-02,Member,Female,1982.0,2.913157,I bet your legs almost fell off!
275088,295465,03/31/2017 11:44:00 PM,04/01/2017 12:04:00 AM,SEA00240,1205.656,Bellevue Ave & E Pine St,Lake Union Park / Westlake Ave & Aloha St,CH-12,SLU-23,Member,Male,1990.0,0.334904,Nice.
275089,295466,03/31/2017 11:46:00 PM,04/01/2017 12:04:00 AM,SEA00121,1115.658,Bellevue Ave & E Pine St,Lake Union Park / Westlake Ave & Aloha St,CH-12,SLU-23,Member,Female,1987.0,0.309905,Nice.
275090,295467,03/31/2017 11:52:00 PM,04/01/2017 02:33:00 AM,SEA00151,9667.679,Cal Anderson Park / 11th Ave & Pine St,Broadway and E Denny Way,CH-08,CH-16,Member,Male,1988.0,2.685466,Nice.

In [56]:
df['comment'].value_counts()

Nice.                               270514
I bet your legs almost fell off!      3243
Couldn't you have walked?             1334
Name: comment, dtype: int64

In [57]:
df['from_station_name'].value_counts()

Pier 69 / Alaskan Way & Clay St                                           13038
E Pine St & 16th Ave                                                      11568
3rd Ave & Broad St                                                        10463
Westlake Ave & 6th Ave                                                     9741
2nd Ave & Pine St                                                          9067
Cal Anderson Park / 11th Ave & Pine St                                     8573
E Harrison St & Broadway Ave E                                             8546
2nd Ave & Vine St                                                          7334
Key Arena / 1st Ave N & Harrison St                                        7285
REI / Yale Ave N & John St                                                 7084
Dexter Ave N & Aloha St                                                    7018
15th Ave E & E Thomas St                                                   6948
12th Ave & E Mercer St                                                     6550
Summit Ave & E Denny Way                                                   6409
PATH / 9th Ave & Westlake Ave                                              6339
Seattle Aquarium / Alaskan Way S & Elliott Bay Trail                       6271
Summit Ave E & E Republican St                                             6218
Bellevue Ave & E Pine St                                                   5857
E Blaine St & Fairview Ave E                                               5788
Lake Union Park / Westlake Ave & Aloha St                                  5739
2nd Ave & Blanchard St                                                     5699
Occidental Park / Occidental Ave S & S Washington St                       5409
Harvard Ave & E Pine St                                                    5246
Republican St & Westlake Ave N                                             5226
1st Ave & Marion St                                                        5068
Pine St & 9th Ave                                                          5045
2nd Ave & Spring St                                                        4911
9th Ave N & Mercer St                                                      4822
7th Ave & Union St                                                         4822
6th Ave & Blanchard St                                                     4666
Seattle University / E Columbia St & 12th Ave                              4208
King Street Station Plaza / 2nd Ave Extension S & S Jackson St             3969
Burke-Gilman Trail / NE Blakeley St & 24th Ave NE                          3889
12th Ave & E Denny Way                                                     3765
Fred Hutchinson Cancer Research Center / Fairview Ave N & Ward St          3604
12th Ave & NE Campus Pkwy                                                  3534
Dexter Ave & Denny Way                                                     3461
Union St & 4th Ave                                                         3440
Eastlake Ave E & E Allison St                                              3400
City Hall / 4th Ave & James St                                             3263
15th Ave NE & NE 40th St                                                   2688
6th Ave S & S King St                                                      2474
Terry Ave & Stewart St                                                     2452
NE 47th St & 12th Ave NE                                                   2429
UW Engineering Library / E Stevens Way NE & Jefferson Rd                   2383
Frye Art Museum / Terry Ave & Columbia St                                  2349
Broadway and E Denny Way                                                   2089
Burke Museum / E Stevens Way NE & Memorial Way NE                          2002
UW Intramural Activities Building                                          1905
Thomas St & 5th Ave N                                                      1748
Children's Hospital / Sandpoint Way NE & 40th Ave NE                       1423
NE 42nd St & University Way NE                                             1417
NE Pacific St/UW Medical Center                                            1237
UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd     1175
Mercer St & 9th Ave N                                                      1114
12th Ave & E Yesler Way                                                     958
Husky Stadium U-Link/ Montlake Blvd NE & Walla Walla Rd NE                  689
Pier 66 / Alaskan Way & Bell St                                             646
UW McCarty Hall / Whitman Ct                                                480
Cedar St & 2nd Ave                                                          150
Name: from_station_name, dtype: int64

In [58]:
del df['trip_duration_hours'] # deletes the column...

In [58]:
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear,trip_duration_hours,comment
0,431,10/13/2014 10:31:00 AM,10/13/2014 10:48:00 AM,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0,0.273871,Nice.
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0,0.257326,Nice.
2,433,10/13/2014 10:33:00 AM,10/13/2014 10:48:00 AM,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0,0.245509,Nice.
3,434,10/13/2014 10:34:00 AM,10/13/2014 10:48:00 AM,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0,0.240538,Nice.
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0,0.256645,Nice.

In [59]:
df.loc[[0,4],['starttime', 'stoptime']]

                starttime                stoptime
0  10/13/2014 10:31:00 AM  10/13/2014 10:48:00 AM
4  10/13/2014 10:34:00 AM  10/13/2014 10:49:00 AM

In [60]:
df[df['tripduration'] > 10000]

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear,trip_duration_hours,comment
68,506,10/13/2014 12:08:00 PM,10/13/2014 07:07:00 PM,SEA00155,25119.114,2nd Ave & Spring St,2nd Ave & Vine St,CBD-06,BT-03,Member,Male,1988.0,6.977532,I bet your legs almost fell off!
193,649,10/13/2014 02:54:00 PM,10/13/2014 05:59:00 PM,SEA00193,11144.159,NE 42nd St & University Way NE,NE 42nd St & University Way NE,UD-02,UD-02,Short-Term Pass Holder,NaN,NaN,3.095600,I bet your legs almost fell off!
408,908,10/13/2014 11:12:00 PM,10/14/2014 06:52:00 AM,SEA00230,27583.945,7th Ave & Union St,2nd Ave & Pine St,CBD-03,CBD-13,Short-Term Pass Holder,NaN,NaN,7.662207,I bet your legs almost fell off!
475,983,10/14/2014 09:12:00 AM,10/14/2014 01:20:00 PM,SEA00181,14885.176,Pier 69 / Alaskan Way & Clay St,Pier 69 / Alaskan Way & Clay St,WF-01,WF-01,Short-Term Pass Holder,NaN,NaN,4.134771,I bet your legs almost fell off!
512,1025,10/14/2014 10:49:00 AM,10/14/2014 05:19:00 PM,SEA00244,23346.911,E Pine St & 16th Ave,PATH / 9th Ave & Westlake Ave,CH-07,SLU-07,Member,Male,1986.0,6.485253,I bet your legs almost fell off!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274051,294382,03/25/2017 02:28:00 PM,03/25/2017 07:05:00 PM,SEA00494,16634.168,Cal Anderson Park / 11th Ave & Pine St,Pier 69 / Alaskan Way & Clay St,CH-08,WF-01,Short-Term Pass Holder,NaN,NaN,4.620602,I bet your legs almost fell off!
274052,294383,03/25/2017 02:28:00 PM,03/25/2017 07:05:00 PM,SEA00182,16639.182,Cal Anderson Park / 11th Ave & Pine St,Pier 69 / Alaskan Way & Clay St,CH-08,WF-01,Short-Term Pass Holder,NaN,NaN,4.621995,I bet your legs almost fell off!
274266,294604,03/27/2017 11:56:00 AM,03/27/2017 03:29:00 PM,SEA00291,12758.624,6th Ave S & S King St,NE 42nd St & University Way NE,ID-04,UD-02,Short-Term Pass Holder,NaN,NaN,3.544062,I bet your legs almost fell off!
275086,295463,03/31/2017 11:16:00 PM,04/01/2017 02:11:00 AM,SEA00347,10487.475,NE 42nd St & University Way NE,E Harrison St & Broadway Ave E,UD-02,CH-02,Short-Term Pass Holder,NaN,NaN,2.913188,I bet your legs almost fell off!
275087,295464,03/31/2017 11:16:00 PM,04/01/2017 02:11:00 AM,SEA00031,10487.366,NE 42nd St & University Way NE,E Harrison St & Broadway Ave E,UD-02,CH-02,Member,Female,1982.0,2.913157,I bet your legs almost fell off!

In [61]:
df_long_trips = df[df['tripduration'] > 10000]

In [62]:
sel = df['tripduration'] > 10000
df_long_trips = df[sel]

In [63]:
df_long_trips

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear,trip_duration_hours,comment
68,506,10/13/2014 12:08:00 PM,10/13/2014 07:07:00 PM,SEA00155,25119.114,2nd Ave & Spring St,2nd Ave & Vine St,CBD-06,BT-03,Member,Male,1988.0,6.977532,I bet your legs almost fell off!
193,649,10/13/2014 02:54:00 PM,10/13/2014 05:59:00 PM,SEA00193,11144.159,NE 42nd St & University Way NE,NE 42nd St & University Way NE,UD-02,UD-02,Short-Term Pass Holder,NaN,NaN,3.095600,I bet your legs almost fell off!
408,908,10/13/2014 11:12:00 PM,10/14/2014 06:52:00 AM,SEA00230,27583.945,7th Ave & Union St,2nd Ave & Pine St,CBD-03,CBD-13,Short-Term Pass Holder,NaN,NaN,7.662207,I bet your legs almost fell off!
475,983,10/14/2014 09:12:00 AM,10/14/2014 01:20:00 PM,SEA00181,14885.176,Pier 69 / Alaskan Way & Clay St,Pier 69 / Alaskan Way & Clay St,WF-01,WF-01,Short-Term Pass Holder,NaN,NaN,4.134771,I bet your legs almost fell off!
512,1025,10/14/2014 10:49:00 AM,10/14/2014 05:19:00 PM,SEA00244,23346.911,E Pine St & 16th Ave,PATH / 9th Ave & Westlake Ave,CH-07,SLU-07,Member,Male,1986.0,6.485253,I bet your legs almost fell off!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274051,294382,03/25/2017 02:28:00 PM,03/25/2017 07:05:00 PM,SEA00494,16634.168,Cal Anderson Park / 11th Ave & Pine St,Pier 69 / Alaskan Way & Clay St,CH-08,WF-01,Short-Term Pass Holder,NaN,NaN,4.620602,I bet your legs almost fell off!
274052,294383,03/25/2017 02:28:00 PM,03/25/2017 07:05:00 PM,SEA00182,16639.182,Cal Anderson Park / 11th Ave & Pine St,Pier 69 / Alaskan Way & Clay St,CH-08,WF-01,Short-Term Pass Holder,NaN,NaN,4.621995,I bet your legs almost fell off!
274266,294604,03/27/2017 11:56:00 AM,03/27/2017 03:29:00 PM,SEA00291,12758.624,6th Ave S & S King St,NE 42nd St & University Way NE,ID-04,UD-02,Short-Term Pass Holder,NaN,NaN,3.544062,I bet your legs almost fell off!
275086,295463,03/31/2017 11:16:00 PM,04/01/2017 02:11:00 AM,SEA00347,10487.475,NE 42nd St & University Way NE,E Harrison St & Broadway Ave E,UD-02,CH-02,Short-Term Pass Holder,NaN,NaN,2.913188,I bet your legs almost fell off!
275087,295464,03/31/2017 11:16:00 PM,04/01/2017 02:11:00 AM,SEA00031,10487.366,NE 42nd St & University Way NE,E Harrison St & Broadway Ave E,UD-02,CH-02,Member,Female,1982.0,2.913157,I bet your legs almost fell off!

In [64]:
df[sel].shape

(3243, 14)

In [65]:
df_long_trips.shape

(3243, 14)

In [66]:
# Make a copy of a slice
df_subset = df[['starttime', 'stoptime']].copy()
df_subset['trip_hours'] = df['tripduration']/3600

In [67]:
df_subset

                     starttime                stoptime  trip_hours
0       10/13/2014 10:31:00 AM  10/13/2014 10:48:00 AM    0.273871
1       10/13/2014 10:32:00 AM  10/13/2014 10:48:00 AM    0.257326
2       10/13/2014 10:33:00 AM  10/13/2014 10:48:00 AM    0.245509
3       10/13/2014 10:34:00 AM  10/13/2014 10:48:00 AM    0.240538
4       10/13/2014 10:34:00 AM  10/13/2014 10:49:00 AM    0.256645
...                        ...                     ...         ...
275086  03/31/2017 11:16:00 PM  04/01/2017 02:11:00 AM    2.913188
275087  03/31/2017 11:16:00 PM  04/01/2017 02:11:00 AM    2.913157
275088  03/31/2017 11:44:00 PM  04/01/2017 12:04:00 AM    0.334904
275089  03/31/2017 11:46:00 PM  04/01/2017 12:04:00 AM    0.309905
275090  03/31/2017 11:52:00 PM  04/01/2017 02:33:00 AM    2.685466

[275091 rows x 3 columns]

Columns can be created (or overwritten) with the assignment operator.
Let's create a *tripminutes* column with the number of minutes for each trip

More complicated mathematical operations can be done with tools in the ``numpy`` package:

### Working with Times

One trick to know when working with columns of times is that Pandas ``DateTimeIndex`` provides a nice interface for working with columns of times.

For a dataset of this size, using ``pd.to_datetime`` and specifying the date format can make things much faster (from the [strftime reference](http://strftime.org/), we see that the pronto data has format ``"%m/%d/%Y %I:%M:%S %p"``

(Note: you can also use ``infer_datetime_format=True`` in most cases to automatically infer the correct format, though due to a bug it doesn't work when AM/PM are present)

With it, we can extract, the hour of the day, the day of the week, the month, and a wide range of other views of the time:

### Simple Grouping of Data

The real power of Pandas comes in its tools for grouping and aggregating data. Here we'll look at *value counts* and the basics of *group-by* operations.

#### Value Counts

Pandas includes an array of useful functionality for manipulating and analyzing tabular data.
We'll take a look at two of these here.

The ``pandas.value_counts`` returns statistics on the unique values within each column.

We can use it, for example, to break down rides by gender:

In [68]:
pd.value_counts(df["gender"])

Male      135171
Female     34997
Other       3647
Name: gender, dtype: int64

Or to break down rides by age:

In [69]:
pd.value_counts(2019 - df["birthyear"])

32.0    15381
34.0    10491
38.0     9028
37.0     8950
35.0     8699
        ...
83.0        7
20.0        6
77.0        2
75.0        1
88.0        1
Name: birthyear, Length: 61, dtype: int64

By default, the values rather than the index are sorted. Use ``sort=False`` to turn this behavior off:

In [70]:
pd.value_counts(df["birthyear"], sort=False)

1960.0    1118
1970.0    2741
1988.0    8228
1977.0    4187
1971.0    3471
          ...
1944.0       1
1999.0       6
1939.0      47
1997.0     285
1931.0       1
Name: birthyear, Length: 61, dtype: int64

We can explore other things as well: day of week, hour of day, etc.

In [71]:
#

### Group-by Operation

One of the killer features of the Pandas dataframe is the ability to do group-by operations.
You can visualize the group-by like this (image borrowed from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do))

In [72]:
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear,trip_duration_hours,comment
0,431,10/13/2014 10:31:00 AM,10/13/2014 10:48:00 AM,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0,0.273871,Nice.
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0,0.257326,Nice.
2,433,10/13/2014 10:33:00 AM,10/13/2014 10:48:00 AM,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0,0.245509,Nice.
3,434,10/13/2014 10:34:00 AM,10/13/2014 10:48:00 AM,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0,0.240538,Nice.
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0,0.256645,Nice.

In [73]:
df_sub = df[['from_station_id', 'trip_id']]
df_count = df_sub.groupby(['from_station_id']).count()
df_count.columns = ['count']
df_count.head()

                 count
from_station_id
BT-01            10463
BT-03             7334
BT-04             4666
BT-05             5699
BT-06              150

In [74]:
df_mean = df.groupby(['from_station_id']).mean()
df_mean.head()

/tmp/ipykernel_215/2819880675.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_mean = df.groupby(['from_station_id']).mean()

                       trip_id  tripduration    birthyear  trip_duration_hours
from_station_id
BT-01            147831.009844   1375.031203  1980.131427             0.381953
BT-03            139404.294655   1019.200684  1976.505142             0.283111
BT-04            157992.809687    891.095897  1979.877044             0.247527
BT-05            139283.572381   1199.949481  1975.937479             0.333319
BT-06            291807.953333    659.770547  1975.830769             0.183270

In [75]:
dfgroup = df.groupby(['from_station_id'])
dfgroup.groups

{'BT-01': [217, 227, 228, 282, 283, 310, 326, 327, 329, 331, 443, 470, 471, 525, 526, 569, 657, 659, 661, 703, 752, 801, 802, 861, 998, 1069, 1154, 1172, 1411, 1412, 1418, 1423, 1427, 1477, 1482, 1521, 1522, 1528, 1543, 1544, 1614, 1802, 1803, 1804, 1866, 1868, 1869, 1898, 2021, 2023, 2025, 2027, 2028, 2058, 2137, 2138, 2175, 2176, 2228, 2229, 2335, 2425, 2622, 2624, 2647, 2649, 2741, 2771, 2855, 2856, 2893, 2945, 3028, 3053, 3097, 3254, 3264, 3615, 3644, 3674, 3765, 3789, 3863, 3913, 3971, 3984, 3993, 3997, 4007, 4020, 4152, 4193, 4384, 4601, 4724, 4780, 4819, 4933, 4934, 5019, ...], 'BT-03': [87, 88, 230, 261, 366, 407, 414, 439, 453, 754, 761, 810, 824, 909, 926, 1036, 1042, 1100, 1104, 1133, 1180, 1184, 1215, 1240, 1241, 1267, 1287, 1302, 1331, 1333, 1496, 1567, 1568, 1616, 1653, 1694, 1885, 1935, 2002, 2042, 2073, 2112, 2113, 2134, 2178, 2179, 2314, 2315, 2330, 2331, 2332, 2333, 2334, 2344, 2385, 2401, 2487, 2519, 2558, 2559, 2578, 2635, 2637, 2641, 2655, 2663, 2664, 2685, 2732, 2793, 2806, 2841, 2968, 2975, 2977, 3040, 3059, 3078, 3135, 3181, 3186, 3189, 3214, 3237, 3298, 3307, 3317, 3358, 3362, 3390, 3393, 3423, 3434, 3442, 3458, 3514, 3535, 3537, 3538, 3565, ...], 'BT-04': [66, 67, 94, 104, 108, 166, 233, 259, 322, 333, 394, 395, 398, 501, 570, 592, 603, 606, 607, 609, 610, 805, 806, 823, 853, 946, 960, 981, 1001, 1023, 1024, 1210, 1274, 1301, 1307, 1311, 1336, 1342, 1387, 1499, 1500, 1565, 1575, 1595, 1640, 1692, 1699, 1736, 1813, 1844, 1856, 1900, 1923, 1995, 1997, 2155, 2207, 2210, 2328, 2581, 2598, 2600, 2654, 2669, 2670, 2853, 2989, 2999, 3001, 3005, 3032, 3057, 3058, 3185, 3271, 3290, 3352, 3398, 3417, 3418, 3436, 3479, 3503, 3513, 3556, 3684, 3761, 3915, 3945, 3983, 3994, 4091, 4113, 4151, 4160, 4235, 4238, 4281, 4325, 4399, ...], 'BT-05': [110, 413, 426, 513, 585, 618, 744, 753, 795, 1003, 1204, 1254, 1316, 1348, 1405, 1438, 1461, 1515, 1609, 1623, 1710, 1737, 1774, 1788, 1790, 1792, 1834, 1839, 1860, 1861, 1953, 1984, 2026, 2065, 2067, 2247, 2267, 2285, 2491, 2492, 2515, 2572, 2573, 2710, 2711, 2713, 2787, 2868, 2898, 2951, 2952, 2974, 3017, 3071, 3134, 3142, 3145, 3229, 3330, 3342, 3350, 3445, 3495, 3550, 3577, 3578, 3595, 3609, 3688, 3689, 3696, 3697, 3705, 3775, 3823, 3839, 3893, 3924, 3938, 3959, 4041, 4050, 4061, 4177, 4178, 4196, 4208, 4233, 4321, 4385, 4402, 4407, 4429, 4474, 4481, 4681, 4713, 4714, 4715, 4726, ...], 'BT-06': [268581, 268643, 268668, 268718, 268735, 268781, 268897, 268903, 268914, 268961, 269000, 269036, 269042, 269078, 269178, 269194, 269231, 269237, 269238, 269239, 269240, 269257, 269285, 269337, 269338, 269374, 269375, 269376, 269377, 269383, 269447, 269448, 269589, 269613, 269677, 269776, 269780, 269847, 269849, 269877, 269908, 269918, 269976, 269997, 270002, 270056, 270081, 270147, 270182, 270210, 270262, 270268, 270269, 270337, 270453, 270551, 270553, 270559, 270587, 270659, 270698, 270710, 270716, 270780, 270834, 270890, 270924, 270944, 271008, 271088, 271101, 271248, 271249, 271264, 271427, 271483, 271494, 271574, 271593, 271601, 271674, 271716, 271720, 271726, 271735, 271875, 271876, 271927, 271995, 272019, 272020, 272105, 272210, 272282, 272295, 272328, 272383, 272400, 272413, 272502, ...], 'CBD-03': [118, 119, 164, 229, 275, 285, 328, 339, 356, 357, 362, 363, 383, 408, 495, 520, 527, 767, 773, 780, 782, 986, 1025, 1047, 1094, 1103, 1127, 1136, 1163, 1186, 1205, 1208, 1209, 1420, 1474, 1475, 1503, 1504, 1524, 1529, 1555, 1611, 1679, 1718, 1742, 1743, 1754, 1760, 1810, 1814, 1833, 1841, 1862, 1875, 1880, 1890, 1957, 1971, 2062, 2121, 2128, 2243, 2244, 2245, 2246, 2306, 2307, 2310, 2311, 2316, 2317, 2318, 2319, 2320, 2390, 2399, 2400, 2404, 2405, 2468, 2545, 2546, 2721, 2791, 2792, 2857, 2858, 2905, 2907, 2916, 2919, 2920, 2949, 3022, 3041, 3085, 3091, 3125, 3126, 3161, ...], 'CBD-04': [105392, 105458, 105467, 105472, 105614, 105615, 105835, 105836, 105855, 105858, 106056, 106117, 106138, 106139, 106142, 106215, 106480, 106593, 106594, 106656, 106660, 106661, 106670, 106700, 106722, 106745, 106800, 106931, 107090, 107349, 107352, 107401, 107420, 107445, 107446, 107492, 107509, 107552, 107641, 107716, 107844, 107937, 107972, 107998, 108005, 108031, 108035, 108090, 108291, 108292, 108483, 108487, 108520, 108521, 108523, 108947, 108948, 109070, 109152, 109155, 109160, 109299, 109300, 109381, 109518, 109769, 109793, 109808, 109813, 109814, 110063, 110103, 110173, 110185, 110188, 110297, 110331, 110370, 110394, 110480, 110540, 110894, 110895, 110947, 110953, 110990, 111006, 111091, 111329, 111408, 111428, 111472, 111504, 111546, 111547, 111575, 111607, 111622, 111635, 111736, ...], 'CBD-05': [54, 79, 95, 148, 149, 150, 151, 165, 211, 219, 252, 257, 258, 271, 274, 301, 303, 323, 423, 434, 576, 586, 629, 666, 775, 908, 915, 919, 924, 930, 988, 996, 997, 1062, 1073, 1116, 1122, 1125, 1224, 1243, 1245, 1399, 1437, 1578, 1579, 1713, 1716, 1726, 1732, 1750, 1751, 1777, 1806, 1811, 1944, 1945, 2080, 2309, 2313, 2322, 2323, 2359, 2429, 2484, 2552, 2553, 2556, 2607, 2608, 2724, 2725, 2734, 2737, 2811, 2983, 2986, 3100, 3140, 3141, 3162, 3170, 3171, 3203, 3217, 3234, 3309, 3357, 3376, 3456, 3465, 3472, 3525, 3563, 3571, 3614, 3639, 3642, 3736, 3774, 3785, ...], 'CBD-06': [0, 1, 2, 3, 4, 5, 63, 68, 70, 71, 75, 85, 86, 106, 114, 117, 145, 185, 186, 189, 190, 209, 268, 293, 342, 348, 438, 548, 579, 593, 594, 595, 622, 623, 674, 675, 692, 695, 731, 766, 789, 890, 965, 1029, 1030, 1034, 1050, 1058, 1061, 1097, 1102, 1124, 1191, 1202, 1203, 1260, 1297, 1319, 1340, 1401, 1421, 1434, 1466, 1473, 1488, 1585, 1586, 1603, 1607, 1796, 1817, 1865, 1876, 1877, 1922, 1972, 2338, 2339, 2373, 2374, 2458, 2518, 2864, 3029, 3049, 3115, 3118, 3122, 3228, 3245, 3300, 3321, 3410, 3411, 3420, 3558, 3564, 3585, 3631, 3665, ...], 'CBD-07': [42, 69, 78, 141, 196, 269, 478, 510, 522, 542, 559, 560, 582, 645, 658, 668, 670, 691, 737, 750, 869, 959, 980, 987, 1037, 1049, 1060, 1072, 1108, 1115, 1139, 1147, 1152, 1356, 1376, 1417, 1447, 1457, 1741, 1756, 1801, 2016, 2017, 2018, 2055, 2190, 2631, 2632, 2827, 3048, 3054, 3055, 3082, 3175, 3180, 3204, 3205, 3287, 3288, 3433, 3454, 3632, 3647, 3648, 3661, 3807, 3917, 3929, 3941, 3950, 3952, 3958, 3986, 3987, 4023, 4037, 4066, 4244, 4309, 4383, 4439, 4440, 4485, 4490, 4505, 4750, 4756, 4916, 5150, 5185, 5201, 5210, 5263, 5269, 5279, 5311, 5312, 5314, 5329, 5357, ...], 'CBD-13': [99, 139, 198, 249, 276, 334, 381, 388, 424, 442, 523, 588, 596, 597, 598, 599, 601, 664, 719, 745, 758, 807, 852, 879, 880, 887, 888, 933, 1002, 1008, 1089, 1093, 1119, 1155, 1187, 1189, 1192, 1284, 1327, 1330, 1337, 1353, 1366, 1391, 1436, 1440, 1458, 1464, 1484, 1487, 1497, 1516, 1536, 1538, 1542, 1562, 1582, 1583, 1589, 1707, 1725, 1727, 1763, 1773, 1785, 1795, 1816, 1838, 1857, 1924, 1985, 1986, 2064, 2068, 2069, 2136, 2139, 2140, 2150, 2162, 2166, 2167, 2195, 2235, 2236, 2294, 2325, 2349, 2350, 2389, 2407, 2436, 2465, 2513, 2534, 2589, 2590, 2645, 2728, 2751, ...], 'CD-01': [68531, 68532, 69169, 69170, 69954, 70367, 70529, 70546, 70621, 70622, 70871, 70872, 71349, 71797, 71964, 71968, 72510, 72568, 72758, 72951, 72952, 73561, 73699, 74005, 74049, 74077, 74249, 74253, 74292, 74678, 74782, 74783, 75051, 75372, 75534, 75535, 75576, 75784, 75785, 75786, 75846, 75907, 75908, 76414, 76415, 76893, 76895, 76896, 76899, 76906, 77152, 77237, 77474, 77669, 78008, 78011, 78566, 78594, 78595, 78847, 78848, 78863, 79097, 79135, 79365, 79368, 79539, 79877, 79878, 80109, 80249, 80250, 80928, 81595, 81689, 81960, 82132, 82253, 82441, 82706, 82845, 83023, 83069, 83260, 83453, 83726, 84281, 84740, 84771, 84938, 85335, 85496, 85620, 85647, 85923, 86427, 86976, 87098, 87724, 87769, ...], 'CH-01': [256, 355, 382, 416, 437, 444, 502, 503, 600, 679, 713, 821, 962, 990, 1000, 1063, 1099, 1131, 1207, 1212, 1232, 1253, 1285, 1357, 1390, 1508, 1570, 1612, 1630, 1766, 1843, 1846, 1910, 1911, 1919, 1925, 1926, 2024, 2043, 2049, 2133, 2171, 2181, 2193, 2257, 2342, 2391, 2454, 2467, 2469, 2486, 2609, 2620, 2679, 2690, 2699, 2700, 2797, 2816, 2817, 2838, 2900, 2915, 3012, 3039, 3136, 3168, 3305, 3386, 3414, 3570, 3620, 3669, 3702, 3715, 3799, 3827, 3830, 3862, 4060, 4154, 4164, 4211, 4271, 4282, 4312, 4419, 4551, 4572, 4578, 4656, 4657, 4658, 4817, 4858, 4911, 4917, 5020, 5081, 5096, ...], 'CH-02': [55, 56, 58, 83, 113, 126, 127, 154, 162, 163, 176, 179, 180, 235, 254, 265, 286, 317, 336, 389, 405, 409, 410, 418, 419, 422, 440, 473, 481, 672, 699, 788, 811, 816, 828, 847, 848, 892, 893, 901, 906, 917, 918, 938, 953, 957, 973, 983, 1057, 1105, 1106, 1160, 1161, 1178, 1179, 1193, 1196, 1199, 1218, 1220, 1235, 1236, 1255, 1258, 1268, 1281, 1293, 1295, 1304, 1364, 1379, 1395, 1396, 1439, 1532, 1541, 1574, 1587, 1622, 1636, 1642, 1647, 1654, 1665, 1676, 1735, 1824, 1836, 1837, 1908, 1909, 1912, 1913, 1930, 1931, 1939, 2034, 2040, 2059, 2126, ...], 'CH-03': [290, 417, 428, 435, 436, 452, 494, 516, 640, 665, 808, 925, 929, 955, 966, 967, 1043, 1150, 1219, 1231, 1247, 1249, 1252, 1261, 1271, 1282, 1303, 1318, 1329, 1448, 1624, 1631, 1641, 1643, 1646, 1655, 1660, 1669, 1693, 1724, 1823, 1826, 1853, 1927, 1928, 1956, 2096, 2172, 2185, 2242, 2287, 2364, 2406, 2542, 2543, 2604, 2605, 2610, 2617, 2621, 2659, 2743, 2824, 2933, 2934, 2978, 2980, 2988, 3073, 3193, 3299, 3366, 3371, 3372, 3397, 3427, 3501, 3610, 3660, 3724, 3739, 3749, 3758, 3859, 3871, 3884, 3891, 3895, 3933, 3946, 3951, 4123, 4209, 4210, 4212, 4219, 4220, 4221, 4229, 4234, ...], 'CH-05': [134, 195, 205, 248, 250, 251, 315, 324, 337, 390, 393, 445, 450, 472, 653, 676, 677, 768, 786, 793, 812, 837, 838, 871, 954, 978, 1041, 1167, 1168, 1217, 1264, 1291, 1306, 1326, 1328, 1472, 1478, 1494, 1626, 1649, 1659, 1689, 1696, 1729, 1745, 1749, 1818, 1819, 1852, 1867, 1894, 1895, 1904, 1914, 1921, 2001, 2022, 2066, 2084, 2103, 2148, 2184, 2188, 2200, 2205, 2265, 2276, 2277, 2279, 2296, 2297, 2379, 2380, 2384, 2398, 2428, 2551, 2561, 2562, 2623, 2628, 2630, 2878, 2922, 2923, 2924, 2925, 2926, 2928, 2947, 2948, 3002, 3006, 3158, 3166, 3169, 3191, 3267, 3338, 3385, ...], 'CH-06': [212, 253, 277, 278, 279, 403, 449, 504, 684, 881, 928, 937, 1126, 1200, 1201, 1251, 1645, 1664, 1677, 1820, 1951, 2784, 2802, 2991, 3132, 3202, 3343, 3344, 3382, 3520, 3730, 3791, 3796, 3814, 3844, 3868, 3870, 3872, 3920, 4038, 4108, 4134, 4165, 4168, 4202, 4217, 4224, 4230, 4261, 4274, 4377, 4378, 4396, 4661, 4667, 4873, 4921, 4955, 4956, 5016, 5064, 5100, 5129, 5135, 5136, 5156, 5328, 5432, 5444, 5477, 5478, 5641, 5689, 5708, 5751, 5775, 5958, 6100, 6121, 6144, 6152, 6169, 6184, 6280, 6284, 6312, 6337, 6361, 6374, 6539, 6644, 6651, 6657, 6658, 6749, 6750, 6765, 6803, 7095, 7108, ...], 'CH-07': [146, 210, 299, 341, 374, 377, 401, 415, 431, 466, 512, 627, 729, 777, 822, 825, 826, 827, 829, 836, 870, 907, 914, 940, 941, 982, 1064, 1151, 1227, 1234, 1280, 1294, 1314, 1315, 1449, 1450, 1451, 1619, 1620, 1658, 1670, 1683, 1698, 1934, 2050, 2053, 2120, 2125, 2130, 2173, 2177, 2196, 2261, 2262, 2291, 2293, 2352, 2416, 2426, 2453, 2460, 2485, 2517, 2523, 2524, 2563, 2565, 2588, 2712, 2779, 2842, 2844, 2846, 2847, 2936, 2960, 2992, 3010, 3013, 3019, 3027, 3042, 3050, 3131, 3179, 3200, 3212, 3266, 3295, 3323, 3327, 3375, 3389, 3392, 3437, 3441, 3480, 3490, 3506, 3536, ...], 'CH-08': [120, 136, 144, 158, 159, 242, 262, 294, 311, 321, 352, 376, 480, 489, 491, 496, 497, 509, 517, 524, 712, 742, 757, 779, 790, 796, 797, 819, 851, 872, 884, 885, 897, 947, 949, 956, 971, 1101, 1109, 1149, 1206, 1213, 1256, 1263, 1289, 1332, 1334, 1406, 1459, 1481, 1525, 1599, 1600, 1644, 1667, 1690, 1744, 1753, 1761, 1769, 1812, 1859, 1870, 1871, 1882, 1883, 1891, 1893, 1897, 1905, 1915, 1941, 1955, 2092, 2093, 2203, 2273, 2281, 2282, 2286, 2301, 2324, 2375, 2422, 2423, 2462, 2512, 2634, 2657, 2658, 2661, 2666, 2696, 2697, 2716, 2717, 2757, 2790, 2796, 2818, ...], 'CH-09': [101, 168, 222, 349, 380, 467, 567, 578, 628, 647, 759, 835, 882, 894, 895, 1033, 1085, 1148, 1153, 1181, 1182, 1197, 1237, 1292, 1305, 1343, 1344, 1345, 1501, 1526, 1549, 1588, 1671, 1740, 1829, 1872, 1901, 1902, 1990, 2000, 2033, 2037, 2047, 2151, 2163, 2165, 2202, 2226, 2227, 2254, 2299, 2300, 2302, 2303, 2329, 2355, 2356, 2363, 2365, 2387, 2478, 2570, 2571, 2582, 2583, 2612, 2704, 2708, 2745, 2754, 2755, 2762, 2831, 2832, 2834, 2848, 2872, 2884, 2961, 3119, 3129, 3172, 3244, 3273, 3278, 3322, 3334, 3335, 3353, 3406, 3519, 3522, 3611, 3624, 3638, 3710, 3716, 3772, 3810, 3833, ...], 'CH-12': [319, 384, 411, 441, 451, 462, 540, 554, 558, 605, 651, 701, 778, 814, 832, 856, 883, 898, 911, 958, 1113, 1121, 1137, 1216, 1223, 1228, 1233, 1279, 1317, 1325, 1415, 1520, 1545, 1548, 1564, 1590, 1597, 1615, 1635, 1681, 1825, 1830, 1842, 1847, 1854, 1855, 1896, 1954, 1968, 1969, 2232, 2456, 2457, 2495, 2496, 2606, 2625, 2646, 2803, 2901, 2902, 2937, 2938, 2970, 3023, 3105, 3130, 3155, 3159, 3197, 3198, 3224, 3347, 3364, 3367, 3370, 3378, 3419, 3469, 3499, 3586, 3650, 3658, 3676, 3701, 3708, 3714, 3744, 3832, 3840, 3857, 3858, 3875, 3878, 3914, 4016, 4070, 4084, 4092, 4099, ...], 'CH-15': [109, 160, 244, 340, 402, 430, 459, 468, 723, 724, 725, 739, 748, 800, 803, 804, 831, 923, 945, 1107, 1190, 1229, 1272, 1299, 1300, 1358, 1416, 1432, 1571, 1629, 1657, 1933, 1959, 1960, 1962, 1963, 1987, 1994, 1996, 2019, 2060, 2115, 2194, 2269, 2270, 2357, 2361, 2522, 2577, 2587, 2601, 2602, 2636, 2914, 2997, 2998, 3009, 3111, 3152, 3210, 3260, 3294, 3318, 3331, 3349, 3374, 3391, 3396, 3400, 3401, 3426, 3438, 3444, 3461, 3641, 3687, 3690, 3699, 3751, 3752, 3847, 3877, 3894, 3912, 3926, 3982, 4011, 4161, 4176, 4199, 4249, 4255, 4256, 4260, 4273, 4335, 4344, 4415, 4432, 4473, ...], 'CH-16': [175075, 175093, 175108, 175126, 175127, 175131, 175136, 175144, 175145, 175210, 175241, 175266, 175285, 175306, 175347, 175351, 175398, 175440, 175573, 175575, 175593, 175595, 175601, 175611, 175626, 175641, 175658, 175668, 175680, 175682, 175761, 175784, 175884, 175910, 175912, 175915, 175930, 175938, 176028, 176139, 176154, 176157, 176164, 176169, 176178, 176242, 176283, 176338, 176387, 176435, 176445, 176453, 176470, 176492, 176509, 176527, 176624, 176625, 176629, 176680, 176730, 176735, 176810, 176824, 176830, 176864, 176865, 176899, 176911, 176978, 177070, 177159, 177160, 177184, 177187, 177241, 177405, 177406, 177410, 177415, 177416, 177439, 177493, 177643, 177656, 177710, 177836, 177855, 177858, 177984, 178007, 178011, 178038, 178079, 178151, 178264, 178266, 178309, 178322, 178324, ...], 'DPD-01': [59, 91, 93, 289, 568, 644, 667, 740, 839, 974, 979, 1010, 1068, 1164, 1594, 1651, 1673, 1782, 1783, 1827, 1873, 1874, 1998, 1999, 2280, 2554, 2576, 2614, 2615, 2870, 2927, 3046, 3102, 3182, 3236, 3248, 3251, 3263, 3279, 3282, 3304, 3340, 3549, 3613, 3692, 3709, 3790, 3806, 3835, 3836, 3845, 3942, 3943, 3944, 4028, 4141, 4354, 4529, 4552, 4566, 4583, 4764, 4825, 4870, 4954, 4980, 5055, 5195, 5204, 5209, 5339, 5352, 5369, 5375, 5385, 5392, 5448, 5453, 5510, 5620, 5627, 5666, 5671, 5677, 5679, 5772, 5812, 5831, 5931, 6033, 6061, 6062, 6063, 6064, 6086, 6101, 6125, 6126, 6139, 6233, ...], 'DPD-03': [131, 197, 345, 347, 727, 844, 1075, 1144, 1347, 1430, 1514, 1697, 2189, 2215, 2345, 2353, 2360, 2362, 3020, 3123, 3124, 3150, 3160, 3302, 3526, 3666, 3918, 3935, 4129, 4323, 4327, 4332, 4363, 4414, 4466, 4467, 4515, 4563, 5215, 5367, 5587, 5616, 5833, 5900, 5915, 5943, 6022, 6076, 6306, 6327, 6478, 6506, 6555, 6642, 6660, 6838, 6842, 6843, 7017, 7107, 7348, 7494, 7612, 7613, 7858, 8186, 8229, 8358, 8362, 8432, 8440, 8807, 8936, 9000, 9001, 9218, 9219, 9220, 9259, 9421, 9422, 9564, 9580, 9884, 9897, 9904, 10075, 10276, 10478, 10564, 10682, 10798, 10872, 11006, 11087, 11099, 11212, 11341, 11510, 11511, ...], 'EL-01': [199, 400, 700, 702, 715, 716, 769, 1175, 1350, 1351, 1467, 1592, 1604, 1708, 1980, 2767, 2814, 2815, 2843, 2852, 3269, 3283, 3477, 3594, 3601, 3602, 3606, 3691, 4046, 4270, 4290, 4390, 4391, 4438, 4452, 4486, 4543, 4575, 4893, 5049, 5170, 5280, 5636, 5672, 5702, 5881, 5882, 5914, 6001, 6011, 6013, 6050, 6286, 6305, 6455, 6460, 6834, 6875, 6881, 6890, 6891, 6892, 6893, 6894, 7120, 7152, 7824, 7825, 7893, 8138, 8168, 8216, 8239, 8290, 8476, 8668, 8687, 8783, 8799, 8976, 9276, 9277, 9608, 9639, 9839, 9840, 9841, 9933, 9946, 9968, 10249, 10255, 10300, 10359, 10418, 10427, 10645, 10658, 10785, 10805, ...], 'EL-03': [344, 358, 360, 425, 492, 583, 927, 1027, 1071, 1110, 1117, 1165, 1166, 1242, 1355, 1424, 1580, 1581, 1687, 1712, 2011, 2013, 2135, 2157, 2211, 2212, 2348, 2372, 2394, 2395, 2525, 2526, 2633, 2650, 2671, 2680, 2897, 3096, 3164, 3259, 3373, 3388, 3446, 3497, 3598, 3626, 3740, 3768, 3804, 3808, 3828, 3831, 4064, 4078, 4226, 4379, 4503, 4509, 4538, 4549, 4584, 4600, 4920, 4937, 4959, 5124, 5219, 5313, 5374, 5498, 5538, 5547, 5549, 5614, 5701, 5711, 5723, 5835, 5870, 5995, 6007, 6014, 6015, 6042, 6172, 6176, 6198, 6287, 6517, 6530, 6641, 6672, 6673, 6681, 6682, 6711, 6760, 6761, 6879, 7057, ...], 'EL-05': [200, 201, 447, 456, 488, 615, 646, 694, 763, 858, 859, 860, 903, 916, 1230, 1250, 1273, 1309, 1377, 1419, 1628, 1648, 1686, 1940, 1967, 2063, 2122, 2123, 2129, 2248, 2528, 2593, 2638, 2642, 2643, 2715, 2788, 2789, 2794, 2798, 2800, 2801, 2819, 2820, 2822, 2823, 2982, 2990, 2996, 3011, 3043, 3383, 3399, 3487, 3735, 3738, 3999, 4086, 4166, 4289, 4306, 4426, 4431, 4555, 4577, 4768, 4828, 4877, 4896, 4926, 4966, 4969, 4976, 4977, 5126, 5139, 5709, 5714, 5862, 5894, 5895, 5896, 5971, 6024, 6025, 6163, 6181, 6313, 6430, 6661, 6774, 6802, 6917, 6933, 6934, 7127, 7128, 7133, 7157, 7160, ...], 'FH-01': [100, 231, 325, 330, 373, 386, 455, 485, 505, 521, 743, 787, 809, 866, 867, 868, 874, 875, 876, 877, 944, 975, 992, 1014, 1032, 1055, 1084, 1092, 1308, 1407, 1445, 1454, 1460, 1468, 1470, 1495, 1537, 1634, 1700, 1764, 1787, 1797, 1800, 1906, 1907, 1973, 1974, 2260, 2388, 2445, 2448, 2450, 2452, 2530, 2531, 2672, 2673, 2873, 2950, 2979, 3086, 3128, 3153, 3194, 3207, 3313, 3363, 3368, 3471, 3590, 3596, 3683, 3698, 3825, 3838, 3904, 4004, 4017, 4039, 4047, 4048, 4203, 4302, 4393, 4433, 4459, 4468, 4470, 4510, 4763, 4985, 4986, 5143, 5165, 5225, 5261, 5278, 5318, 5327, 5337, ...], 'FH-04': [364, 371, 392, 396, 460, 482, 529, 950, 970, 984, 1145, 1244, 1552, 1559, 1601, 1661, 1680, 1771, 1991, 1992, 2030, 2143, 2144, 2266, 2268, 2304, 2305, 2376, 2564, 2639, 2758, 2885, 2886, 2887, 2889, 3014, 3103, 3107, 3280, 3337, 3387, 3473, 3583, 3584, 3695, 3707, 3721, 3731, 3756, 3841, 3842, 3854, 3874, 3903, 4045, 4155, 4182, 4258, 4500, 4536, 4610, 4680, 4757, 4778, 4834, 4895, 4903, 4948, 5101, 5161, 5368, 5370, 5408, 5445, 5476, 5506, 5540, 5583, 5678, 5686, 5756, 5876, 5920, 5928, 6020, 6021, 6037, 6083, 6155, 6164, 6167, 6209, 6303, 6356, 6394, 6466, 6496, 6514, 6575, 6717, ...], 'ID-04': [89, 123, 155, 156, 169, 170, 214, 223, 237, 309, 479, 483, 652, 733, 764, 770, 841, 862, 864, 865, 899, 1005, 1012, 1038, 1176, 1298, 1372, 1380, 1389, 1479, 1511, 1550, 1553, 1684, 1685, 1886, 1889, 1892, 1989, 2005, 2031, 2217, 2343, 2392, 2393, 2396, 2397, 2444, 2471, 2684, 2688, 2862, 3149, 3221, 3247, 3255, 3439, 3515, 3516, 3548, 3553, 3579, 3581, 3619, 3667, 3668, 3795, 3932, 3966, 3968, 4026, 4073, 4317, 4320, 4357, 4400, 4568, 4677, 4770, 4940, 4957, 5038, 5255, 5296, 5297, 5298, 5330, 5360, 5364, 5548, 5561, 5580, 5619, 5643, 5668, 5787, 5788, 5832, 5968, 6132, ...], 'PS-04': [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 50, 51, 52, 62, 77, 81, 82, 84, 98, 107, 112, 125, 138, 140, 171, 172, 173, 174, 175, 191, 194, 221, 234, 238, 239, 255, 335, 346, 378, 379, 461, 465, 506, 553, 555, 561, 587, 613, 634, 663, 671, 680, 681, 698, 728, 755, 784, 817, 842, 920, 936, 991, 1015, 1020, 1118, 1162, 1171, 1238, 1239, ...], 'PS-05': [45, 49, 53, 57, 90, 130, 202, 218, 246, 247, 263, 474, 515, 528, 562, 563, 602, 632, 726, 736, 939, 1004, 1017, 1138, 1226, 1288, 1370, 1386, 1539, 1675, 1695, 1706, 1739, 1746, 1747, 1748, 1755, 1768, 1778, 2206, 2283, 2284, 2336, 2432, 2489, 2535, 2940, 2941, 3060, 3231, 3453, 3530, 3652

The simplest version of a groupby looks like this, and you can use almost any aggregation function you wish (mean, median, sum, minimum, maximum, standard deviation, count, etc.)

```
<data object>.groupby(<grouping values>).<aggregate>()
```

for example, we can group by gender and find the average of all numerical columns:

In [ ]:
df.groupby(gender).mean()

It's also possible to index the grouped object like it is a dataframe:

You can even group by multiple values: for example we can look at the trip duration by time of day and by gender:

The ``unstack()`` operation can help make sense of this type of multiply-grouped data. What this technically does is split a multiple-valued index into an index plus columns:

### Visualizing data with ``pandas``

Of course, looking at tables of data is not very intuitive.
Fortunately Pandas has many useful plotting functions built-in, all of which make use of the ``matplotlib`` library to generate plots.

Whenever you do plotting in the IPython notebook, you will want to first run this *magic command* which configures the notebook to work well with plots:

In [ ]:
%matplotlib inline

Now we can simply call the ``plot()`` method of any series or dataframe to get a reasonable view of the data:

In [ ]:
import matplotlib.pyplot as plt
df['tripduration'].hist()

### Adjusting the Plot Style

Matplotlib has a number of plot styles you can use. For example, if you like R you might use the ggplot style:

In [ ]:
plt.style.use("ggplot")

### Other plot types

Pandas supports a range of other plotting types; you can find these by using the <TAB> autocomplete on the ``plot`` method:

In [ ]:
plt.

For example, we can create a histogram of trip durations:

If you'd like to adjust the x and y limits of the plot, you can use the ``set_xlim()`` and ``set_ylim()`` method of the resulting object:

## Breakout: Exploring the Data

Make a plot of the total number of rides as a function of month of the year (You'll need to extract the month, use a ``groupby``, and find the appropriate aggregation to count the number in each group).

Split this plot by gender. Do you see any seasonal ridership patterns by gender?

Split this plot by user type. Do you see any seasonal ridership patterns by usertype?

Repeat the above three steps, counting the number of rides by time of day rather that by month.

Are there any other interesting insights you can discover in the data using these tools?

### Using Files
- Writing and running python modules
- Using python modules in your Jupyter Notebook

In [ ]:
# A script for creating a dataframe with counts of the occurrence of a columns' values
df_count = df.groupby('from_station_id').count()
df_count1 = df_count[['trip_id']]
df_count2 = df_count1.rename(columns={'trip_id': 'count'})

In [ ]:
df_count2.head()

In [ ]:
def make_table_count(df_arg, groupby_column):
    df_count = df_arg.groupby(groupby_column).count()
    column_name = df.columns[0]
    df_count1 = df_count[[column_name]]
    df_count2 = df_count1.rename(columns={column_name: 'count'})
    return df_count2

In [ ]:
dff = make_table_count(df, 'from_station_id')
dff.head()